<table class="table table-hover table-striped table-dark">
  <thead class=thead-light>
    <tr>
      <th>Name</th>
      <th>Region</th>
      <th>Age</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody data-toggle="modal" data-target="#userDetailsModal">
    <tr *ngFor="let user of 'usersList' | i18nSelect: (usersList$ | async)" (click)="selectCurrentUser(user)">
      <td>{{ user.name }} {{ user.surname }}</td>
      <td>{{ user.region }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.phone }}</td>
    </tr>
  </tbody>
</table>
<app-user-details-modal></app-user-details-modal>
