<div class="d-flex flex-column justify-content-center container col-md-6 col-lg-4 col-xl-3">
  <form [formGroup]=signInForm (ngSubmit)="signIn($event)">
    <div class="form-group">
      <label for="signInFormEmail">Email address</label>
      <input
        class="form-control"
        id="signInFormEmail"
        formControlName="email"
        type="email"
        placeholder="E-mail"
        autocomplete="off"
      />
    </div>

    <div class="form-group">
      <label for="signInFormPassword">Password</label>
      <input
        class="form-control"
        id="signInFormPassword"
        formControlName="password"
        type="password"
        placeholder="Password"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="signInForm.status === 'INVALID'"
    >
      Sign In
    </button>
  </form>
</div>
